@import "tailwindcss";

@font-face {
  font-family: "Neuzeit Grotesk";
  src: url("../assets/fonts/NeuzeitGro-Lig.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Neuzeit Grotesk";
  src: url("../assets/fonts/NeuzeitGro-Reg.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Neuzeit Grotesk";
  src: url("../assets/fonts/NeuzeitGro-Bol.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Neuzeit Grotesk";
  src: url("../assets/fonts/NeuzeitGro-Bla.ttf") format("truetype");
  font-weight: 900;
}

body {
  background-color: #f0f0f0;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
